<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xolaniman_xdelman.themc_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- android:label="@string/app_name" -->
    <!-- android:icon="@mipmap/ic_launcher"! -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/mce_new_logo"
        android:label="The MCE App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- START Changing Launcher Screen -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Used to be MAIN delete if it remains as is -->
        <!--
        activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity
        -->
        <!-- END Changing Launcher Screen -->

        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Main3Activity_Register">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main3Activity_Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity_User_Reg">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main3Activity_User_Reg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3ActivitySpazaReg">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main3ActivitySpazaReg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity_welcome_normal_user_reg">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity_welcome_spaza_user_reg">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity_menu_icons">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main3Activity_menu_icons" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.model.SelectDialogWalletCalls">
            <intent-filter>
                <action android:name="com.model.SelectDialogWalletCalls" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.model.SelectDialogTransactionCall">
            <intent-filter>
                <action android:name="com.model.SelectDialogTransactionCall" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        activity android:name=".MceWelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity
        -->
        <activity android:name=".Main3ActivitySpazaRegPg2">
            <intent-filter>
                <action android:name="com.example.xolaniman_xdelman.themc_app.Main3ActivitySpazaRegPg2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UsersListActivity"></activity>
    </application>

</manifest>